* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* serve para nenhum elemento passar da largura do pai*/
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1acb;
  height: 72px;
  padding: 0 80px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 8px 5px #1a1a1a62;
  border-radius: 0px 0px 8px 8px;

  .logo {
    height: 60px;
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  .nav-container {
    display: flex;
    gap: 30px;
    font-size: 18px;
    align-items: center;
  }

  .nav {
    text-decoration: none;
    color: #dbd9d9;
  }

  .nav-container a:hover,
  .nav-container a.active {
    color: rgb(254, 181, 49);
  }
}

.navbar a:hover,
.navbar a.active {
  color: rgb(254, 181, 49);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 20px;
  background-color: #dbd9d9;
}

.full-page {
  height: 100vh;
  width: 100%;
  display: flex;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos na direção principal (vertical) */
  justify-content: center; /* Centraliza os elementos na direção transversal (horizontal) */
  height: 650px; /* Garante que o componente ocupa toda a altura da viewport */
  width: 600px;
  margin: auto;
  text-align: center; /* Alinha o texto ao centro */
  background-color: #1a1a1acb;
  border-radius: 15px;
}

.create-recipe form {
  max-width: 360px; /* Define a largura máxima do formulário para evitar que ele fique muito largo */
  width: 100%; /* Garante que o formulário ocupa toda a largura disponível */
  margin-top: 20px; /* Espaço superior para separar o formulário do título */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza na vertical */
  justify-content: center; /* Centraliza na horizontal */
}
.create-recipe label {
  color: #dbd9d9;
}

.create-recipe h2 {
  color: #dbd9d9;
}

.create-recipe input,
.create-recipe textarea {
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px; /* Espaçamento entre os elementos do formulário */
  width: 100%; /* Garante que os elementos do formulário ocupem toda a largura do formulário */
}

.home {
  h1 {
    text-align: center;
    padding: 14px;
  }
  h2 {
    text-align: center;
  }
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os cartões */
    justify-content: center; /* Centralizar os cartões horizontalmente */
  }

  li {
    width: 300px; /* largura fixa para cada cartão */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  li:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;

    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  button {
    background-color: rgb(254, 180, 0);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #45a049;
  }
}
